-- delete from creature_loot_template WHERE entry=15990;
INSERT IGNORE INTO creature_loot_template(entry,item,ChanceOrQuestChance,mincountOrRef,maxcount) VALUES(15990, 40752, 79, 1, 1);
INSERT IGNORE INTO creature_loot_template(entry,item,ChanceOrQuestChance,mincountOrRef,maxcount) VALUES(15990, 40618, 37, 1, 1);
INSERT IGNORE INTO creature_loot_template(entry,item,ChanceOrQuestChance,mincountOrRef,maxcount) VALUES(15990, 40617, 28, 1, 1);
UPDATE creature_template SET LootId=30061 WHERE entry=30061;
-- delete from creature_loot_template WHERE entry=15989;
UPDATE creature_template SET LootId=29991 WHERE entry=29991;
-- delete from creature_loot_template WHERE entry=16137;
-- delete from creature_loot_template WHERE entry=16400;
-- delete from creature_loot_template WHERE entry=16145;
UPDATE creature_template SET LootId=29824 WHERE entry=29824;
-- delete from creature_loot_template WHERE entry=16146;
UPDATE creature_template SET LootId=29823 WHERE entry=29823;
-- delete from creature_loot_template WHERE entry=15384;
-- delete from creature_loot_template WHERE entry=16154;
UPDATE creature_template SET LootId=29831 WHERE entry=29831;
-- delete from creature_loot_template WHERE entry=16156;
UPDATE creature_template SET LootId=29833 WHERE entry=29833;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=16163;
UPDATE creature_template SET LootId=29842 WHERE entry=29842;
-- delete from creature_loot_template WHERE entry=16164;
UPDATE creature_template SET LootId=29825 WHERE entry=29825;
-- delete from creature_loot_template WHERE entry=16165;
UPDATE creature_template SET LootId=29828 WHERE entry=29828;
-- delete from creature_loot_template WHERE entry=16167;
UPDATE creature_template SET LootId=29835 WHERE entry=29835;
-- delete from creature_loot_template WHERE entry=16168;
UPDATE creature_template SET LootId=29576 WHERE entry=29576;
-- delete from creature_loot_template WHERE entry=15931;
UPDATE creature_template SET LootId=29373 WHERE entry=29373;
-- delete from creature_loot_template WHERE entry=15932;
UPDATE creature_template SET LootId=29417 WHERE entry=29417;
-- delete from creature_loot_template WHERE entry=16447;
UPDATE creature_template SET LootId=30097 WHERE entry=30097;
-- delete from creature_loot_template WHERE entry=15936;
UPDATE creature_template SET LootId=29701 WHERE entry=29701;
-- delete from creature_loot_template WHERE entry=16193;
UPDATE creature_template SET LootId=29837 WHERE entry=29837;
-- delete from creature_loot_template WHERE entry=16194;
UPDATE creature_template SET LootId=29898 WHERE entry=29898;
-- delete from creature_loot_template WHERE entry=15953;
UPDATE creature_template SET LootId=29268 WHERE entry=29268;
-- delete from creature_loot_template WHERE entry=15954;
UPDATE creature_template SET LootId=29615 WHERE entry=29615;
-- delete from creature_loot_template WHERE entry=16211;
-- delete from creature_loot_template WHERE entry=15956;
UPDATE creature_template SET LootId=29249 WHERE entry=29249;
-- delete from creature_loot_template WHERE entry=16215;
UPDATE creature_template SET LootId=29899 WHERE entry=29899;
-- delete from creature_loot_template WHERE entry=16216;
UPDATE creature_template SET LootId=29900 WHERE entry=29900;
-- delete from creature_loot_template WHERE entry=15974;
UPDATE creature_template SET LootId=29242 WHERE entry=29242;
-- delete from creature_loot_template WHERE entry=16998;
-- delete from creature_loot_template WHERE entry=15975;
UPDATE creature_template SET LootId=29241 WHERE entry=29241;
-- delete from creature_loot_template WHERE entry=15976;
UPDATE creature_template SET LootId=29243 WHERE entry=29243;
-- delete from creature_loot_template WHERE entry=15977;
UPDATE creature_template SET LootId=29229 WHERE entry=29229;
-- delete from creature_loot_template WHERE entry=15978;
UPDATE creature_template SET LootId=30389 WHERE entry=30389;
-- delete from creature_loot_template WHERE entry=15979;
UPDATE creature_template SET LootId=29286 WHERE entry=29286;
-- delete from creature_loot_template WHERE entry=15980;
UPDATE creature_template SET LootId=29247 WHERE entry=29247;
-- delete from creature_loot_template WHERE entry=16236;
UPDATE creature_template SET LootId=29613 WHERE entry=29613;
-- delete from creature_loot_template WHERE entry=15981;
UPDATE creature_template SET LootId=29248 WHERE entry=29248;
-- delete from creature_loot_template WHERE entry=16243;
UPDATE creature_template SET LootId=29575 WHERE entry=29575;
-- delete from creature_loot_template WHERE entry=16244;
UPDATE creature_template SET LootId=29574 WHERE entry=29574;
-- delete from creature_loot_template WHERE entry=30071;
UPDATE creature_template SET LootId=30075 WHERE entry=30075;
-- delete from creature_loot_template WHERE entry=16506;
UPDATE creature_template SET LootId=29274 WHERE entry=29274;
-- delete from creature_loot_template WHERE entry=30085;
UPDATE creature_template SET LootId=30087 WHERE entry=30087;
-- delete from creature_loot_template WHERE entry=16011;
UPDATE creature_template SET LootId=29718 WHERE entry=29718;
-- delete from creature_loot_template WHERE entry=16017;
UPDATE creature_template SET LootId=29347 WHERE entry=29347;
-- delete from creature_loot_template WHERE entry=16018;
UPDATE creature_template SET LootId=29353 WHERE entry=29353;
-- delete from creature_loot_template WHERE entry=16020;
UPDATE creature_template SET LootId=29362 WHERE entry=29362;
-- delete from creature_loot_template WHERE entry=16021;
UPDATE creature_template SET LootId=29359 WHERE entry=29359;
-- delete from creature_loot_template WHERE entry=16022;
UPDATE creature_template SET LootId=29363 WHERE entry=29363;
-- delete from creature_loot_template WHERE entry=16024;
UPDATE creature_template SET LootId=29355 WHERE entry=29355;
-- delete from creature_loot_template WHERE entry=16025;
UPDATE creature_template SET LootId=29371 WHERE entry=29371;
-- delete from creature_loot_template WHERE entry=16027;
-- delete from creature_loot_template WHERE entry=16028;
UPDATE creature_template SET LootId=29324 WHERE entry=29324;
-- delete from creature_loot_template WHERE entry=16029;
UPDATE creature_template SET LootId=29356 WHERE entry=29356;
-- delete from creature_loot_template WHERE entry=16030;
-- delete from creature_loot_template WHERE entry=16034;
UPDATE creature_template SET LootId=29609 WHERE entry=29609;
-- delete from creature_loot_template WHERE entry=16803;
UPDATE creature_template SET LootId=29941 WHERE entry=29941;
-- delete from creature_loot_template WHERE entry=16036;
UPDATE creature_template SET LootId=29608 WHERE entry=29608;
-- delete from creature_loot_template WHERE entry=16037;
UPDATE creature_template SET LootId=29603 WHERE entry=29603;
-- delete from creature_loot_template WHERE entry=16297;
UPDATE creature_template SET LootId=29601 WHERE entry=29601;
-- delete from creature_loot_template WHERE entry=16056;
UPDATE creature_template SET LootId=29612 WHERE entry=29612;
-- delete from creature_loot_template WHERE entry=16057;
UPDATE creature_template SET LootId=31542 WHERE entry=31542;
-- delete from creature_loot_template WHERE entry=16060;
UPDATE creature_template SET LootId=29955 WHERE entry=29955;
-- delete from creature_loot_template WHERE entry=16061;
UPDATE creature_template SET LootId=29940 WHERE entry=29940;
-- delete from creature_loot_template WHERE entry=16067;
UPDATE creature_template SET LootId=29852 WHERE entry=29852;
-- delete from creature_loot_template WHERE entry=16068;
-- delete from creature_loot_template WHERE entry=16082;
-- delete from creature_loot_template WHERE entry=29912;
-- delete from creature_loot_template WHERE entry=4075;
-- delete from creature_loot_template WHERE entry=16375;
UPDATE creature_template SET LootId=29354 WHERE entry=29354;
-- delete from creature_loot_template WHERE entry=15928;
UPDATE creature_template SET LootId=29448 WHERE entry=29448;
-- delete from creature_loot_template WHERE entry=15929;
UPDATE creature_template SET LootId=29446 WHERE entry=29446;
-- delete from creature_loot_template WHERE entry=15930;
UPDATE creature_template SET LootId=29447 WHERE entry=29447;
-- delete from creature_loot_template WHERE entry=15952;
UPDATE creature_template SET LootId=29278 WHERE entry=29278;
-- delete from creature_loot_template WHERE entry=16064;
UPDATE creature_template SET LootId=30603 WHERE entry=30603;
-- delete from creature_loot_template WHERE entry=16065;
UPDATE creature_template SET LootId=30601 WHERE entry=30601;
-- delete from creature_loot_template WHERE entry=30549;
UPDATE creature_template SET LootId=30600 WHERE entry=30600;
-- delete from creature_loot_template WHERE entry=16063;
UPDATE creature_template SET LootId=30602 WHERE entry=30602;
-- delete from creature_loot_template WHERE entry=28410;
UPDATE creature_template SET LootId=31665 WHERE entry=31665;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=23746;
-- delete from creature_loot_template WHERE entry=23961;
UPDATE creature_template SET LootId=30747 WHERE entry=30747;
-- delete from creature_loot_template WHERE entry=23960;
UPDATE creature_template SET LootId=31663 WHERE entry=31663;
-- delete from creature_loot_template WHERE entry=23956;
UPDATE creature_template SET LootId=31666 WHERE entry=31666;
-- delete from creature_loot_template WHERE entry=23954;
UPDATE creature_template SET LootId=31673 WHERE entry=31673;
-- delete from creature_loot_template WHERE entry=23953;
UPDATE creature_template SET LootId=30748 WHERE entry=30748;
-- delete from creature_loot_template WHERE entry=24201;
UPDATE creature_template SET LootId=31656 WHERE entry=31656;
-- delete from creature_loot_template WHERE entry=24200;
UPDATE creature_template SET LootId=31679 WHERE entry=31679;
-- delete from creature_loot_template WHERE entry=15475;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=29735;
UPDATE creature_template SET LootId=31678 WHERE entry=31678;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=24864;
UPDATE creature_template SET LootId=31668 WHERE entry=31668;
-- delete from creature_loot_template WHERE entry=24085;
UPDATE creature_template SET LootId=31662 WHERE entry=31662;
-- delete from creature_loot_template WHERE entry=24084;
UPDATE creature_template SET LootId=31681 WHERE entry=31681;
-- delete from creature_loot_template WHERE entry=24083;
UPDATE creature_template SET LootId=31669 WHERE entry=31669;
-- delete from creature_loot_template WHERE entry=24082;
UPDATE creature_template SET LootId=31675 WHERE entry=31675;
-- delete from creature_loot_template WHERE entry=24849;
UPDATE creature_template SET LootId=31676 WHERE entry=31676;
-- delete from creature_loot_template WHERE entry=24080;
UPDATE creature_template SET LootId=31667 WHERE entry=31667;
-- delete from creature_loot_template WHERE entry=24079;
UPDATE creature_template SET LootId=31659 WHERE entry=31659;
-- delete from creature_loot_template WHERE entry=24078;
UPDATE creature_template SET LootId=31661 WHERE entry=31661;
-- delete from creature_loot_template WHERE entry=24071;
UPDATE creature_template SET LootId=31660 WHERE entry=31660;
-- delete from creature_loot_template WHERE entry=24069;
UPDATE creature_template SET LootId=31658 WHERE entry=31658;
-- delete from creature_loot_template WHERE entry=28419;
UPDATE creature_template SET LootId=31671 WHERE entry=31671;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=26861;
UPDATE creature_template SET LootId=30788 WHERE entry=30788;
-- delete from creature_loot_template WHERE entry=28368;
UPDATE creature_template SET LootId=30820 WHERE entry=30820;
-- delete from creature_loot_template WHERE entry=28351;
-- delete from creature_loot_template WHERE entry=27327;
UPDATE creature_template SET LootId=30805 WHERE entry=30805;
-- delete from creature_loot_template WHERE entry=26555;
UPDATE creature_template SET LootId=30806 WHERE entry=30806;
-- delete from creature_loot_template WHERE entry=26554;
UPDATE creature_template SET LootId=30766 WHERE entry=30766;
-- delete from creature_loot_template WHERE entry=26553;
UPDATE creature_template SET LootId=30765 WHERE entry=30765;
-- delete from creature_loot_template WHERE entry=26550;
UPDATE creature_template SET LootId=30764 WHERE entry=30764;
-- delete from creature_loot_template WHERE entry=23472;
-- delete from creature_loot_template WHERE entry=27309;
UPDATE creature_template SET LootId=30786 WHERE entry=30786;
-- delete from creature_loot_template WHERE entry=27308;
UPDATE creature_template SET LootId=30784 WHERE entry=30784;
-- delete from creature_loot_template WHERE entry=27307;
UPDATE creature_template SET LootId=30782 WHERE entry=30782;
-- delete from creature_loot_template WHERE entry=26536;
UPDATE creature_template SET LootId=30791 WHERE entry=30791;
-- delete from creature_loot_template WHERE entry=27303;
UPDATE creature_template SET LootId=30780 WHERE entry=30780;
-- delete from creature_loot_template WHERE entry=19871;
-- delete from creature_loot_template WHERE entry=30871;
-- delete from creature_loot_template WHERE entry=27273;
UPDATE creature_template SET LootId=30771 WHERE entry=30771;
-- delete from creature_loot_template WHERE entry=15475;
-- delete from creature_loot_template WHERE entry=29281;
UPDATE creature_template SET LootId=30809 WHERE entry=30809;
-- delete from creature_loot_template WHERE entry=26696;
UPDATE creature_template SET LootId=30816 WHERE entry=30816;
-- delete from creature_loot_template WHERE entry=26694;
UPDATE creature_template SET LootId=30817 WHERE entry=30817;
-- delete from creature_loot_template WHERE entry=26693;
UPDATE creature_template SET LootId=30807 WHERE entry=30807;
-- delete from creature_loot_template WHERE entry=26687;
UPDATE creature_template SET LootId=30774 WHERE entry=30774;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=26686;
UPDATE creature_template SET LootId=30770 WHERE entry=30770;
-- delete from creature_loot_template WHERE entry=26685;
UPDATE creature_template SET LootId=30790 WHERE entry=30790;
-- delete from creature_loot_template WHERE entry=26684;
UPDATE creature_template SET LootId=30803 WHERE entry=30803;
-- delete from creature_loot_template WHERE entry=26683;
UPDATE creature_template SET LootId=30772 WHERE entry=30772;
-- delete from creature_loot_template WHERE entry=26672;
UPDATE creature_template SET LootId=30762 WHERE entry=30762;
-- delete from creature_loot_template WHERE entry=26670;
UPDATE creature_template SET LootId=30818 WHERE entry=30818;
-- delete from creature_loot_template WHERE entry=26669;
UPDATE creature_template SET LootId=30821 WHERE entry=30821;
-- delete from creature_loot_template WHERE entry=26667;
UPDATE creature_template SET LootId=30767 WHERE entry=30767;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=26893;
UPDATE creature_template SET LootId=30775 WHERE entry=30775;
-- delete from creature_loot_template WHERE entry=32261;
-- delete from creature_loot_template WHERE entry=26918;
UPDATE creature_template SET LootId=30522 WHERE entry=30522;
-- delete from creature_loot_template WHERE entry=28231;
UPDATE creature_template SET LootId=30525 WHERE entry=30525;
-- delete from creature_loot_template WHERE entry=26716;
UPDATE creature_template SET LootId=30459 WHERE entry=30459;
-- delete from creature_loot_template WHERE entry=26722;
UPDATE creature_template SET LootId=30457 WHERE entry=30457;
-- delete from creature_loot_template WHERE entry=26723;
UPDATE creature_template SET LootId=30540 WHERE entry=30540;
-- delete from creature_loot_template WHERE entry=26727;
UPDATE creature_template SET LootId=30460 WHERE entry=30460;
-- delete from creature_loot_template WHERE entry=26728;
UPDATE creature_template SET LootId=30478 WHERE entry=30478;
-- delete from creature_loot_template WHERE entry=26729;
UPDATE creature_template SET LootId=30485 WHERE entry=30485;
-- delete from creature_loot_template WHERE entry=26730;
UPDATE creature_template SET LootId=30473 WHERE entry=30473;
-- delete from creature_loot_template WHERE entry=26731;
UPDATE creature_template SET LootId=30510 WHERE entry=30510;
-- delete from creature_loot_template WHERE entry=26734;
UPDATE creature_template SET LootId=30516 WHERE entry=30516;
-- delete from creature_loot_template WHERE entry=26735;
UPDATE creature_template SET LootId=30517 WHERE entry=30517;
-- delete from creature_loot_template WHERE entry=26736;
UPDATE creature_template SET LootId=30518 WHERE entry=30518;
-- delete from creature_loot_template WHERE entry=26737;
UPDATE creature_template SET LootId=30519 WHERE entry=30519;
-- delete from creature_loot_template WHERE entry=26746;
UPDATE creature_template SET LootId=30520 WHERE entry=30520;
-- delete from creature_loot_template WHERE entry=26761;
UPDATE creature_template SET LootId=30521 WHERE entry=30521;
-- delete from creature_loot_template WHERE entry=26763;
UPDATE creature_template SET LootId=30529 WHERE entry=30529;
-- delete from creature_loot_template WHERE entry=26782;
UPDATE creature_template SET LootId=30526 WHERE entry=30526;
-- delete from creature_loot_template WHERE entry=26792;
UPDATE creature_template SET LootId=30524 WHERE entry=30524;
-- delete from creature_loot_template WHERE entry=27048;
-- delete from creature_loot_template WHERE entry=26793;
UPDATE creature_template SET LootId=30528 WHERE entry=30528;
-- delete from creature_loot_template WHERE entry=26794;
UPDATE creature_template SET LootId=30532 WHERE entry=30532;
-- delete from creature_loot_template WHERE entry=26800;
UPDATE creature_template SET LootId=30496 WHERE entry=30496;
-- delete from creature_loot_template WHERE entry=26802;
UPDATE creature_template SET LootId=30509 WHERE entry=30509;
-- delete from creature_loot_template WHERE entry=26805;
UPDATE creature_template SET LootId=30498 WHERE entry=30498;
-- delete from creature_loot_template WHERE entry=27837;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=22517;
-- delete from creature_loot_template WHERE entry=28166;
-- delete from creature_loot_template WHERE entry=27654;
UPDATE creature_template SET LootId=31558 WHERE entry=31558;
-- delete from creature_loot_template WHERE entry=32261;
-- delete from creature_loot_template WHERE entry=27655;
UPDATE creature_template SET LootId=31560 WHERE entry=31560;
-- delete from creature_loot_template WHERE entry=27656;
UPDATE creature_template SET LootId=31561 WHERE entry=31561;
-- delete from creature_loot_template WHERE entry=27657;
-- delete from creature_loot_template WHERE entry=27658;
-- delete from creature_loot_template WHERE entry=27659;
-- delete from creature_loot_template WHERE entry=28183;
-- delete from creature_loot_template WHERE entry=27447;
UPDATE creature_template SET LootId=31559 WHERE entry=31559;
-- delete from creature_loot_template WHERE entry=28239;
UPDATE creature_template SET LootId=31628 WHERE entry=31628;
-- delete from creature_loot_template WHERE entry=28276;
UPDATE creature_template SET LootId=30991 WHERE entry=30991;
-- delete from creature_loot_template WHERE entry=29888;
-- delete from creature_loot_template WHERE entry=27633;
UPDATE creature_template SET LootId=30901 WHERE entry=30901;
-- delete from creature_loot_template WHERE entry=27635;
UPDATE creature_template SET LootId=30904 WHERE entry=30904;
-- delete from creature_loot_template WHERE entry=27636;
UPDATE creature_template SET LootId=30902 WHERE entry=30902;
-- delete from creature_loot_template WHERE entry=22517;
-- delete from creature_loot_template WHERE entry=27638;
UPDATE creature_template SET LootId=30903 WHERE entry=30903;
-- delete from creature_loot_template WHERE entry=27639;
UPDATE creature_template SET LootId=30916 WHERE entry=30916;
-- delete from creature_loot_template WHERE entry=27640;
UPDATE creature_template SET LootId=30915 WHERE entry=30915;
-- delete from creature_loot_template WHERE entry=27641;
UPDATE creature_template SET LootId=30905 WHERE entry=30905;
-- delete from creature_loot_template WHERE entry=27907;
-- delete from creature_loot_template WHERE entry=28167;
-- delete from creature_loot_template WHERE entry=27911;
-- delete from creature_loot_template WHERE entry=27912;
-- delete from creature_loot_template WHERE entry=28169;
-- delete from creature_loot_template WHERE entry=27913;
-- delete from creature_loot_template WHERE entry=30994;
-- delete from creature_loot_template WHERE entry=28960;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=31017;
-- delete from creature_loot_template WHERE entry=31018;
-- delete from creature_loot_template WHERE entry=31019;
-- delete from creature_loot_template WHERE entry=31020;
-- delete from creature_loot_template WHERE entry=31021;
-- delete from creature_loot_template WHERE entry=31022;
-- delete from creature_loot_template WHERE entry=31023;
-- delete from creature_loot_template WHERE entry=31024;
-- delete from creature_loot_template WHERE entry=31025;
-- delete from creature_loot_template WHERE entry=31027;
-- delete from creature_loot_template WHERE entry=31028;
-- delete from creature_loot_template WHERE entry=31057;
-- delete from creature_loot_template WHERE entry=20562;
-- delete from creature_loot_template WHERE entry=30547;
-- delete from creature_loot_template WHERE entry=30551;
-- delete from creature_loot_template WHERE entry=30552;
-- delete from creature_loot_template WHERE entry=27737;
UPDATE creature_template SET LootId=31208 WHERE entry=31208;
-- delete from creature_loot_template WHERE entry=30553;
-- delete from creature_loot_template WHERE entry=30554;
-- delete from creature_loot_template WHERE entry=30555;
-- delete from creature_loot_template WHERE entry=30556;
-- delete from creature_loot_template WHERE entry=30557;
-- delete from creature_loot_template WHERE entry=30561;
-- delete from creature_loot_template WHERE entry=27745;
-- delete from creature_loot_template WHERE entry=27746;
-- delete from creature_loot_template WHERE entry=27747;
-- delete from creature_loot_template WHERE entry=30565;
-- delete from creature_loot_template WHERE entry=27752;
-- delete from creature_loot_template WHERE entry=30570;
-- delete from creature_loot_template WHERE entry=30571;
-- delete from creature_loot_template WHERE entry=30573;
-- delete from creature_loot_template WHERE entry=30574;
-- delete from creature_loot_template WHERE entry=883;
-- delete from creature_loot_template WHERE entry=890;
-- delete from creature_loot_template WHERE entry=1933;
-- delete from creature_loot_template WHERE entry=31126;
-- delete from creature_loot_template WHERE entry=31127;
-- delete from creature_loot_template WHERE entry=26527;
-- delete from creature_loot_template WHERE entry=27827;
-- delete from creature_loot_template WHERE entry=721;
-- delete from creature_loot_template WHERE entry=6368;
-- delete from creature_loot_template WHERE entry=27876;
-- delete from creature_loot_template WHERE entry=27877;
-- delete from creature_loot_template WHERE entry=4075;
-- delete from creature_loot_template WHERE entry=27884;
-- delete from creature_loot_template WHERE entry=4076;
-- delete from creature_loot_template WHERE entry=27885;
-- delete from creature_loot_template WHERE entry=28656;
-- delete from creature_loot_template WHERE entry=27903;
-- delete from creature_loot_template WHERE entry=30996;
-- delete from creature_loot_template WHERE entry=32258;
-- delete from creature_loot_template WHERE entry=27960;
UPDATE creature_template SET LootId=31377 WHERE entry=31377;
-- delete from creature_loot_template WHERE entry=27961;
UPDATE creature_template SET LootId=31378 WHERE entry=31378;
-- delete from creature_loot_template WHERE entry=27962;
UPDATE creature_template SET LootId=31372 WHERE entry=31372;
-- delete from creature_loot_template WHERE entry=27963;
UPDATE creature_template SET LootId=31376 WHERE entry=31376;
-- delete from creature_loot_template WHERE entry=27964;
UPDATE creature_template SET LootId=31374 WHERE entry=31374;
-- delete from creature_loot_template WHERE entry=27965;
UPDATE creature_template SET LootId=31375 WHERE entry=31375;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=27966;
UPDATE creature_template SET LootId=31371 WHERE entry=31371;
-- delete from creature_loot_template WHERE entry=27969;
UPDATE creature_template SET LootId=31373 WHERE entry=31373;
-- delete from creature_loot_template WHERE entry=27970;
UPDATE creature_template SET LootId=31385 WHERE entry=31385;
-- delete from creature_loot_template WHERE entry=27971;
UPDATE creature_template SET LootId=31387 WHERE entry=31387;
-- delete from creature_loot_template WHERE entry=27972;
UPDATE creature_template SET LootId=31383 WHERE entry=31383;
-- delete from creature_loot_template WHERE entry=27973;
UPDATE creature_template SET LootId=31369 WHERE entry=31369;
-- delete from creature_loot_template WHERE entry=27975;
UPDATE creature_template SET LootId=31384 WHERE entry=31384;
-- delete from creature_loot_template WHERE entry=27977;
UPDATE creature_template SET LootId=31381 WHERE entry=31381;
-- delete from creature_loot_template WHERE entry=28234;
-- delete from creature_loot_template WHERE entry=27978;
UPDATE creature_template SET LootId=31386 WHERE entry=31386;
-- delete from creature_loot_template WHERE entry=28235;
UPDATE creature_template SET LootId=31874 WHERE entry=31874;
-- delete from creature_loot_template WHERE entry=28055;
-- delete from creature_loot_template WHERE entry=28824;
-- delete from creature_loot_template WHERE entry=28070;
UPDATE creature_template SET LootId=31366 WHERE entry=31366;
-- delete from creature_loot_template WHERE entry=30897;
-- delete from creature_loot_template WHERE entry=30898;
-- delete from creature_loot_template WHERE entry=30899;
-- delete from creature_loot_template WHERE entry=28130;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=28149;
UPDATE creature_template SET LootId=31392 WHERE entry=31392;
-- delete from creature_loot_template WHERE entry=26624;
UPDATE creature_template SET LootId=31363 WHERE entry=31363;
-- delete from creature_loot_template WHERE entry=26625;
UPDATE creature_template SET LootId=31336 WHERE entry=31336;
-- delete from creature_loot_template WHERE entry=26626;
UPDATE creature_template SET LootId=31359 WHERE entry=31359;
-- delete from creature_loot_template WHERE entry=26628;
UPDATE creature_template SET LootId=31343 WHERE entry=31343;
-- delete from creature_loot_template WHERE entry=27909;
-- delete from creature_loot_template WHERE entry=26630;
UPDATE creature_template SET LootId=31362 WHERE entry=31362;
-- delete from creature_loot_template WHERE entry=27910;
-- delete from creature_loot_template WHERE entry=26631;
UPDATE creature_template SET LootId=31350 WHERE entry=31350;
-- delete from creature_loot_template WHERE entry=26635;
UPDATE creature_template SET LootId=31355 WHERE entry=31355;
-- delete from creature_loot_template WHERE entry=26636;
UPDATE creature_template SET LootId=31354 WHERE entry=31354;
-- delete from creature_loot_template WHERE entry=26637;
UPDATE creature_template SET LootId=31342 WHERE entry=31342;
-- delete from creature_loot_template WHERE entry=26638;
UPDATE creature_template SET LootId=31351 WHERE entry=31351;
-- delete from creature_loot_template WHERE entry=26639;
UPDATE creature_template SET LootId=31345 WHERE entry=31345;
-- delete from creature_loot_template WHERE entry=26641;
UPDATE creature_template SET LootId=31340 WHERE entry=31340;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=27431;
UPDATE creature_template SET LootId=31338 WHERE entry=31338;
-- delete from creature_loot_template WHERE entry=26674;
UPDATE creature_template SET LootId=31335 WHERE entry=31335;
-- delete from creature_loot_template WHERE entry=26675;
-- delete from creature_loot_template WHERE entry=27709;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=28492;
-- delete from creature_loot_template WHERE entry=26712;
-- delete from creature_loot_template WHERE entry=27483;
UPDATE creature_template SET LootId=31349 WHERE entry=31349;
-- delete from creature_loot_template WHERE entry=27490;
-- delete from creature_loot_template WHERE entry=27753;
-- delete from creature_loot_template WHERE entry=28015;
-- delete from creature_loot_template WHERE entry=15475;
-- delete from creature_loot_template WHERE entry=26830;
UPDATE creature_template SET LootId=31352 WHERE entry=31352;
-- delete from creature_loot_template WHERE entry=27871;
UPDATE creature_template SET LootId=31346 WHERE entry=31346;
-- delete from creature_loot_template WHERE entry=4075;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=26620;
UPDATE creature_template SET LootId=31339 WHERE entry=31339;
-- delete from creature_loot_template WHERE entry=26621;
UPDATE creature_template SET LootId=31347 WHERE entry=31347;
-- delete from creature_loot_template WHERE entry=26622;
UPDATE creature_template SET LootId=31337 WHERE entry=31337;
-- delete from creature_loot_template WHERE entry=26623;
UPDATE creature_template SET LootId=31357 WHERE entry=31357;
-- delete from creature_loot_template WHERE entry=28684;
UPDATE creature_template SET LootId=31612 WHERE entry=31612;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=28729;
UPDATE creature_template SET LootId=31616 WHERE entry=31616;
-- delete from creature_loot_template WHERE entry=28730;
UPDATE creature_template SET LootId=31615 WHERE entry=31615;
-- delete from creature_loot_template WHERE entry=28731;
UPDATE creature_template SET LootId=31617 WHERE entry=31617;
-- delete from creature_loot_template WHERE entry=28732;
UPDATE creature_template SET LootId=31608 WHERE entry=31608;
-- delete from creature_loot_template WHERE entry=28733;
UPDATE creature_template SET LootId=31605 WHERE entry=31605;
-- delete from creature_loot_template WHERE entry=28734;
UPDATE creature_template SET LootId=31606 WHERE entry=31606;
-- delete from creature_loot_template WHERE entry=32593;
-- delete from creature_loot_template WHERE entry=29062;
UPDATE creature_template SET LootId=31589 WHERE entry=31589;
-- delete from creature_loot_template WHERE entry=29063;
UPDATE creature_template SET LootId=31594 WHERE entry=31594;
-- delete from creature_loot_template WHERE entry=29064;
UPDATE creature_template SET LootId=31601 WHERE entry=31601;
-- delete from creature_loot_template WHERE entry=29335;
UPDATE creature_template SET LootId=31609 WHERE entry=31609;
-- delete from creature_loot_template WHERE entry=29096;
UPDATE creature_template SET LootId=31590 WHERE entry=31590;
-- delete from creature_loot_template WHERE entry=29097;
UPDATE creature_template SET LootId=31595 WHERE entry=31595;
-- delete from creature_loot_template WHERE entry=29098;
UPDATE creature_template SET LootId=31602 WHERE entry=31602;
-- delete from creature_loot_template WHERE entry=23472;
-- delete from creature_loot_template WHERE entry=29117;
UPDATE creature_template SET LootId=31591 WHERE entry=31591;
-- delete from creature_loot_template WHERE entry=29118;
UPDATE creature_template SET LootId=31596 WHERE entry=31596;
-- delete from creature_loot_template WHERE entry=4076;
-- delete from creature_loot_template WHERE entry=22515;
-- delete from creature_loot_template WHERE entry=28921;
UPDATE creature_template SET LootId=31611 WHERE entry=31611;
-- delete from creature_loot_template WHERE entry=28922;
UPDATE creature_template SET LootId=31592 WHERE entry=31592;
-- delete from creature_loot_template WHERE entry=29340;
UPDATE creature_template SET LootId=31587 WHERE entry=31587;
-- delete from creature_loot_template WHERE entry=29120;
UPDATE creature_template SET LootId=31610 WHERE entry=31610;
-- delete from creature_loot_template WHERE entry=29128;
UPDATE creature_template SET LootId=31604 WHERE entry=31604;
-- delete from creature_loot_template WHERE entry=32258;
-- delete from creature_loot_template WHERE entry=28947;
-- delete from creature_loot_template WHERE entry=28961;
UPDATE creature_template SET LootId=30980 WHERE entry=30980;
-- delete from creature_loot_template WHERE entry=28965;
UPDATE creature_template SET LootId=30982 WHERE entry=30982;
-- delete from creature_loot_template WHERE entry=29240;
UPDATE creature_template SET LootId=30973 WHERE entry=30973;
-- delete from creature_loot_template WHERE entry=30298;
-- delete from creature_loot_template WHERE entry=15214;
-- delete from creature_loot_template WHERE entry=29048;
-- delete from creature_loot_template WHERE entry=28546;
UPDATE creature_template SET LootId=31537 WHERE entry=31537;
-- delete from creature_loot_template WHERE entry=28547;
UPDATE creature_template SET LootId=30979 WHERE entry=30979;
-- delete from creature_loot_template WHERE entry=28823;
-- delete from creature_loot_template WHERE entry=28826;
UPDATE creature_template SET LootId=30978 WHERE entry=30978;
-- delete from creature_loot_template WHERE entry=28578;
UPDATE creature_template SET LootId=30967 WHERE entry=30967;
-- delete from creature_loot_template WHERE entry=28579;
UPDATE creature_template SET LootId=30966 WHERE entry=30966;
-- delete from creature_loot_template WHERE entry=28835;
UPDATE creature_template SET LootId=30971 WHERE entry=30971;
-- delete from creature_loot_template WHERE entry=28580;
UPDATE creature_template SET LootId=30968 WHERE entry=30968;
-- delete from creature_loot_template WHERE entry=28836;
UPDATE creature_template SET LootId=30975 WHERE entry=30975;
-- delete from creature_loot_template WHERE entry=28581;
UPDATE creature_template SET LootId=30977 WHERE entry=30977;
-- delete from creature_loot_template WHERE entry=28837;
UPDATE creature_template SET LootId=30976 WHERE entry=30976;
-- delete from creature_loot_template WHERE entry=28582;
UPDATE creature_template SET LootId=30974 WHERE entry=30974;
-- delete from creature_loot_template WHERE entry=28838;
UPDATE creature_template SET LootId=30981 WHERE entry=30981;
-- delete from creature_loot_template WHERE entry=28583;
UPDATE creature_template SET LootId=30964 WHERE entry=30964;
-- delete from creature_loot_template WHERE entry=28584;
UPDATE creature_template SET LootId=30983 WHERE entry=30983;
-- delete from creature_loot_template WHERE entry=28585;
UPDATE creature_template SET LootId=30970 WHERE entry=30970;
-- delete from creature_loot_template WHERE entry=28586;
UPDATE creature_template SET LootId=31533 WHERE entry=31533;
-- delete from creature_loot_template WHERE entry=28587;
UPDATE creature_template SET LootId=31536 WHERE entry=31536;
-- delete from creature_loot_template WHERE entry=28920;
UPDATE creature_template SET LootId=30972 WHERE entry=30972;
-- delete from creature_loot_template WHERE entry=28923;
UPDATE creature_template SET LootId=31538 WHERE entry=31538;
-- delete from creature_loot_template WHERE entry=13321;
-- delete from creature_loot_template WHERE entry=29982;
UPDATE creature_template SET LootId=30934 WHERE entry=30934;
-- delete from creature_loot_template WHERE entry=29748;
-- delete from creature_loot_template WHERE entry=29768;
UPDATE creature_template SET LootId=30942 WHERE entry=30942;
-- delete from creature_loot_template WHERE entry=29774;
UPDATE creature_template SET LootId=30941 WHERE entry=30941;
-- delete from creature_loot_template WHERE entry=30298;
-- delete from creature_loot_template WHERE entry=2914;
-- delete from creature_loot_template WHERE entry=29304;
UPDATE creature_template SET LootId=31370 WHERE entry=31370;
-- delete from creature_loot_template WHERE entry=29305;
UPDATE creature_template SET LootId=30530 WHERE entry=30530;
-- delete from creature_loot_template WHERE entry=29306;
UPDATE creature_template SET LootId=31368 WHERE entry=31368;
-- delete from creature_loot_template WHERE entry=29819;
UPDATE creature_template SET LootId=30932 WHERE entry=30932;
-- delete from creature_loot_template WHERE entry=29307;
UPDATE creature_template SET LootId=31365 WHERE entry=31365;
-- delete from creature_loot_template WHERE entry=29820;
UPDATE creature_template SET LootId=30929 WHERE entry=30929;
-- delete from creature_loot_template WHERE entry=29822;
UPDATE creature_template SET LootId=30927 WHERE entry=30927;
-- delete from creature_loot_template WHERE entry=29826;
UPDATE creature_template SET LootId=30933 WHERE entry=30933;
-- delete from creature_loot_template WHERE entry=29829;
UPDATE creature_template SET LootId=30926 WHERE entry=30926;
-- delete from creature_loot_template WHERE entry=29830;
UPDATE creature_template SET LootId=30938 WHERE entry=30938;
-- delete from creature_loot_template WHERE entry=29832;
UPDATE creature_template SET LootId=30930 WHERE entry=30930;
-- delete from creature_loot_template WHERE entry=29834;
UPDATE creature_template SET LootId=30928 WHERE entry=30928;
-- delete from creature_loot_template WHERE entry=29836;
UPDATE creature_template SET LootId=30925 WHERE entry=30925;
-- delete from creature_loot_template WHERE entry=29838;
UPDATE creature_template SET LootId=30935 WHERE entry=30935;
-- delete from creature_loot_template WHERE entry=29874;
UPDATE creature_template SET LootId=30931 WHERE entry=30931;
-- delete from creature_loot_template WHERE entry=29630;
UPDATE creature_template SET LootId=30937 WHERE entry=30937;
-- delete from creature_loot_template WHERE entry=29637;
UPDATE creature_template SET LootId=32778 WHERE entry=32778;
-- delete from creature_loot_template WHERE entry=29920;
UPDATE creature_template SET LootId=30939 WHERE entry=30939;
-- delete from creature_loot_template WHERE entry=29931;
UPDATE creature_template SET LootId=30936 WHERE entry=30936;
-- delete from creature_loot_template WHERE entry=29682;
-- delete from creature_loot_template WHERE entry=22517;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=31011;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=29266;
UPDATE creature_template SET LootId=31511 WHERE entry=31511;
-- delete from creature_loot_template WHERE entry=29276;
-- delete from creature_loot_template WHERE entry=29312;
UPDATE creature_template SET LootId=31509 WHERE entry=31509;
-- delete from creature_loot_template WHERE entry=29313;
UPDATE creature_template SET LootId=31508 WHERE entry=31508;
-- delete from creature_loot_template WHERE entry=29314;
UPDATE creature_template SET LootId=31512 WHERE entry=31512;
-- delete from creature_loot_template WHERE entry=29315;
UPDATE creature_template SET LootId=31507 WHERE entry=31507;
-- delete from creature_loot_template WHERE entry=29316;
UPDATE creature_template SET LootId=31510 WHERE entry=31510;
-- delete from creature_loot_template WHERE entry=30857;
-- delete from creature_loot_template WHERE entry=29326;
-- delete from creature_loot_template WHERE entry=31118;
UPDATE creature_template SET LootId=31491 WHERE entry=31491;
-- delete from creature_loot_template WHERE entry=30883;
-- delete from creature_loot_template WHERE entry=30896;
-- delete from creature_loot_template WHERE entry=30658;
-- delete from creature_loot_template WHERE entry=30659;
UPDATE creature_template SET LootId=31505 WHERE entry=31505;
-- delete from creature_loot_template WHERE entry=32204;
UPDATE creature_template SET LootId=32209 WHERE entry=32209;
-- delete from creature_loot_template WHERE entry=29395;
UPDATE creature_template SET LootId=31513 WHERE entry=31513;
-- delete from creature_loot_template WHERE entry=4075;
-- delete from creature_loot_template WHERE entry=29425;
-- delete from creature_loot_template WHERE entry=6491;
-- delete from creature_loot_template WHERE entry=28683;
-- delete from creature_loot_template WHERE entry=29203;
-- delete from creature_loot_template WHERE entry=29205;
-- delete from creature_loot_template WHERE entry=29207;
-- delete from creature_loot_template WHERE entry=29208;
-- delete from creature_loot_template WHERE entry=27928;
-- delete from creature_loot_template WHERE entry=29210;
-- delete from creature_loot_template WHERE entry=29212;
-- delete from creature_loot_template WHERE entry=28444;
-- delete from creature_loot_template WHERE entry=28445;
-- delete from creature_loot_template WHERE entry=32541;
-- delete from creature_loot_template WHERE entry=28446;
-- delete from creature_loot_template WHERE entry=28447;
-- delete from creature_loot_template WHERE entry=28448;
-- delete from creature_loot_template WHERE entry=28449;
-- delete from creature_loot_template WHERE entry=28709;
-- delete from creature_loot_template WHERE entry=29488;
-- delete from creature_loot_template WHERE entry=29232;
-- delete from creature_loot_template WHERE entry=28471;
-- delete from creature_loot_template WHERE entry=28472;
-- delete from creature_loot_template WHERE entry=28474;
-- delete from creature_loot_template WHERE entry=28476;
-- delete from creature_loot_template WHERE entry=29501;
-- delete from creature_loot_template WHERE entry=28481;
-- delete from creature_loot_template WHERE entry=28486;
-- delete from creature_loot_template WHERE entry=28487;
-- delete from creature_loot_template WHERE entry=28488;
-- delete from creature_loot_template WHERE entry=28489;
-- delete from creature_loot_template WHERE entry=28490;
-- delete from creature_loot_template WHERE entry=28491;
-- delete from creature_loot_template WHERE entry=29519;
-- delete from creature_loot_template WHERE entry=29520;
-- delete from creature_loot_template WHERE entry=29521;
-- delete from creature_loot_template WHERE entry=28500;
-- delete from creature_loot_template WHERE entry=28760;
-- delete from creature_loot_template WHERE entry=28505;
-- delete from creature_loot_template WHERE entry=28506;
-- delete from creature_loot_template WHERE entry=28765;
-- delete from creature_loot_template WHERE entry=28510;
-- delete from creature_loot_template WHERE entry=28766;
-- delete from creature_loot_template WHERE entry=28768;
-- delete from creature_loot_template WHERE entry=28769;
-- delete from creature_loot_template WHERE entry=28525;
-- delete from creature_loot_template WHERE entry=28782;
-- delete from creature_loot_template WHERE entry=28529;
-- delete from creature_loot_template WHERE entry=28530;
-- delete from creature_loot_template WHERE entry=25462;
-- delete from creature_loot_template WHERE entry=29047;
-- delete from creature_loot_template WHERE entry=29565;
-- delete from creature_loot_template WHERE entry=28542;
-- delete from creature_loot_template WHERE entry=29566;
-- delete from creature_loot_template WHERE entry=28543;
-- delete from creature_loot_template WHERE entry=29567;
-- delete from creature_loot_template WHERE entry=28544;
-- delete from creature_loot_template WHERE entry=28548;
-- delete from creature_loot_template WHERE entry=29580;
-- delete from creature_loot_template WHERE entry=29581;
-- delete from creature_loot_template WHERE entry=28557;
-- delete from creature_loot_template WHERE entry=28558;
-- delete from creature_loot_template WHERE entry=28559;
-- delete from creature_loot_template WHERE entry=28560;
-- delete from creature_loot_template WHERE entry=28819;
-- delete from creature_loot_template WHERE entry=28821;
-- delete from creature_loot_template WHERE entry=28822;
-- delete from creature_loot_template WHERE entry=28576;
-- delete from creature_loot_template WHERE entry=28577;
-- delete from creature_loot_template WHERE entry=28834;
-- delete from creature_loot_template WHERE entry=28839;
-- delete from creature_loot_template WHERE entry=28841;
-- delete from creature_loot_template WHERE entry=28594;
-- delete from creature_loot_template WHERE entry=28850;
-- delete from creature_loot_template WHERE entry=28856;
-- delete from creature_loot_template WHERE entry=28605;
-- delete from creature_loot_template WHERE entry=28606;
-- delete from creature_loot_template WHERE entry=28607;
-- delete from creature_loot_template WHERE entry=28608;
-- delete from creature_loot_template WHERE entry=28609;
-- delete from creature_loot_template WHERE entry=28611;
-- delete from creature_loot_template WHERE entry=28356;
-- delete from creature_loot_template WHERE entry=28357;
-- delete from creature_loot_template WHERE entry=28614;
-- delete from creature_loot_template WHERE entry=28616;
-- delete from creature_loot_template WHERE entry=28367;
-- delete from creature_loot_template WHERE entry=28627;
-- delete from creature_loot_template WHERE entry=28377;
-- delete from creature_loot_template WHERE entry=28383;
-- delete from creature_loot_template WHERE entry=28385;
-- delete from creature_loot_template WHERE entry=28642;
-- delete from creature_loot_template WHERE entry=28386;
-- delete from creature_loot_template WHERE entry=28643;
-- delete from creature_loot_template WHERE entry=28390;
-- delete from creature_loot_template WHERE entry=28391;
-- delete from creature_loot_template WHERE entry=28647;
-- delete from creature_loot_template WHERE entry=28392;
-- delete from creature_loot_template WHERE entry=28393;
-- delete from creature_loot_template WHERE entry=28394;
-- delete from creature_loot_template WHERE entry=28653;
-- delete from creature_loot_template WHERE entry=28654;
-- delete from creature_loot_template WHERE entry=28655;
-- delete from creature_loot_template WHERE entry=28658;
-- delete from creature_loot_template WHERE entry=28660;
-- delete from creature_loot_template WHERE entry=28405;
-- delete from creature_loot_template WHERE entry=28662;
-- delete from creature_loot_template WHERE entry=28406;
-- delete from creature_loot_template WHERE entry=28933;
-- delete from creature_loot_template WHERE entry=28934;
-- delete from creature_loot_template WHERE entry=28935;
-- delete from creature_loot_template WHERE entry=28936;
-- delete from creature_loot_template WHERE entry=28937;
-- delete from creature_loot_template WHERE entry=28939;
-- delete from creature_loot_template WHERE entry=28940;
-- delete from creature_loot_template WHERE entry=28941;
-- delete from creature_loot_template WHERE entry=28942;
-- delete from creature_loot_template WHERE entry=28943;
-- delete from creature_loot_template WHERE entry=28945;
-- delete from creature_loot_template WHERE entry=28946;
-- delete from creature_loot_template WHERE entry=29000;
-- delete from creature_loot_template WHERE entry=29011;
-- delete from creature_loot_template WHERE entry=29029;
-- delete from creature_loot_template WHERE entry=29030;
-- delete from creature_loot_template WHERE entry=29031;
-- delete from creature_loot_template WHERE entry=29032;
-- delete from creature_loot_template WHERE entry=29038;
-- delete from creature_loot_template WHERE entry=29053;
-- delete from creature_loot_template WHERE entry=28804;
-- delete from creature_loot_template WHERE entry=29061;
-- delete from creature_loot_template WHERE entry=28549;
-- delete from creature_loot_template WHERE entry=28550;
-- delete from creature_loot_template WHERE entry=28551;
-- delete from creature_loot_template WHERE entry=28552;
-- delete from creature_loot_template WHERE entry=29065;
-- delete from creature_loot_template WHERE entry=28553;
-- delete from creature_loot_template WHERE entry=28554;
-- delete from creature_loot_template WHERE entry=28555;
-- delete from creature_loot_template WHERE entry=29067;
-- delete from creature_loot_template WHERE entry=29068;
-- delete from creature_loot_template WHERE entry=28556;
-- delete from creature_loot_template WHERE entry=29070;
-- delete from creature_loot_template WHERE entry=29071;
-- delete from creature_loot_template WHERE entry=29072;
-- delete from creature_loot_template WHERE entry=29073;
-- delete from creature_loot_template WHERE entry=29074;
-- delete from creature_loot_template WHERE entry=29077;
-- delete from creature_loot_template WHERE entry=29078;
-- delete from creature_loot_template WHERE entry=29080;
-- delete from creature_loot_template WHERE entry=29101;
-- delete from creature_loot_template WHERE entry=28610;
-- delete from creature_loot_template WHERE entry=28884;
-- delete from creature_loot_template WHERE entry=28885;
-- delete from creature_loot_template WHERE entry=28886;
-- delete from creature_loot_template WHERE entry=28887;
-- delete from creature_loot_template WHERE entry=28889;
-- delete from creature_loot_template WHERE entry=28890;
-- delete from creature_loot_template WHERE entry=28891;
-- delete from creature_loot_template WHERE entry=28892;
-- delete from creature_loot_template WHERE entry=28893;
-- delete from creature_loot_template WHERE entry=28895;
-- delete from creature_loot_template WHERE entry=28896;
-- delete from creature_loot_template WHERE entry=28898;
-- delete from creature_loot_template WHERE entry=28901;
-- delete from creature_loot_template WHERE entry=28903;
-- delete from creature_loot_template WHERE entry=28905;
-- delete from creature_loot_template WHERE entry=28906;
-- delete from creature_loot_template WHERE entry=28907;
-- delete from creature_loot_template WHERE entry=28908;
-- delete from creature_loot_template WHERE entry=28909;
-- delete from creature_loot_template WHERE entry=28910;
-- delete from creature_loot_template WHERE entry=28911;
-- delete from creature_loot_template WHERE entry=28912;
-- delete from creature_loot_template WHERE entry=28913;
-- delete from creature_loot_template WHERE entry=28914;
-- delete from creature_loot_template WHERE entry=28919;
-- delete from creature_loot_template WHERE entry=29185;
-- delete from creature_loot_template WHERE entry=29186;
-- delete from creature_loot_template WHERE entry=29189;
-- delete from creature_loot_template WHERE entry=29190;
-- delete from creature_loot_template WHERE entry=29191;
-- delete from creature_loot_template WHERE entry=29192;
-- delete from creature_loot_template WHERE entry=29193;
-- delete from creature_loot_template WHERE entry=29199;
-- delete from creature_loot_template WHERE entry=29200;
-- delete from creature_loot_template WHERE entry=29204;
-- delete from creature_loot_template WHERE entry=29218;
-- delete from creature_loot_template WHERE entry=29219;
-- delete from creature_loot_template WHERE entry=29220;
-- delete from creature_loot_template WHERE entry=31082;
-- delete from creature_loot_template WHERE entry=29102;
-- delete from creature_loot_template WHERE entry=29103;
-- delete from creature_loot_template WHERE entry=29104;
-- delete from creature_loot_template WHERE entry=29106;
-- delete from creature_loot_template WHERE entry=29107;
-- delete from creature_loot_template WHERE entry=29108;
-- delete from creature_loot_template WHERE entry=29109;
-- delete from creature_loot_template WHERE entry=29110;
-- delete from creature_loot_template WHERE entry=29112;
-- delete from creature_loot_template WHERE entry=29113;
-- delete from creature_loot_template WHERE entry=29115;
-- delete from creature_loot_template WHERE entry=29136;
-- delete from creature_loot_template WHERE entry=29173;
-- delete from creature_loot_template WHERE entry=31103;
-- delete from creature_loot_template WHERE entry=30494;
-- delete from creature_loot_template WHERE entry=31138;
UPDATE creature_template SET LootId=31550 WHERE entry=31550;
-- delete from creature_loot_template WHERE entry=30648;
-- delete from creature_loot_template WHERE entry=28860;
UPDATE creature_template SET LootId=31311 WHERE entry=31311;
-- delete from creature_loot_template WHERE entry=30680;
UPDATE creature_template SET LootId=30999 WHERE entry=30999;
-- delete from creature_loot_template WHERE entry=30681;
UPDATE creature_template SET LootId=30998 WHERE entry=30998;
-- delete from creature_loot_template WHERE entry=30682;
UPDATE creature_template SET LootId=31000 WHERE entry=31000;
-- delete from creature_loot_template WHERE entry=30449;
UPDATE creature_template SET LootId=31535 WHERE entry=31535;
-- delete from creature_loot_template WHERE entry=30451;
UPDATE creature_template SET LootId=31520 WHERE entry=31520;
-- delete from creature_loot_template WHERE entry=30452;
UPDATE creature_template SET LootId=31534 WHERE entry=31534;
-- delete from creature_loot_template WHERE entry=30453;
UPDATE creature_template SET LootId=31001 WHERE entry=31001;
-- delete from creature_loot_template WHERE entry=31253;
-- delete from creature_loot_template WHERE entry=30334;
-- delete from creature_loot_template WHERE entry=30090;
-- delete from creature_loot_template WHERE entry=30118;
-- delete from creature_loot_template WHERE entry=28859;
-- delete from creature_loot_template WHERE entry=32448;
-- delete from creature_loot_template WHERE entry=22517;
-- delete from creature_loot_template WHERE entry=14881;
-- delete from creature_loot_template WHERE entry=2110;
-- delete from creature_loot_template WHERE entry=30276;
UPDATE creature_template SET LootId=31450 WHERE entry=31450;
-- delete from creature_loot_template WHERE entry=30277;
UPDATE creature_template SET LootId=31442 WHERE entry=31442;
-- delete from creature_loot_template WHERE entry=30278;
UPDATE creature_template SET LootId=31443 WHERE entry=31443;
-- delete from creature_loot_template WHERE entry=30279;
UPDATE creature_template SET LootId=31455 WHERE entry=31455;
-- delete from creature_loot_template WHERE entry=30283;
UPDATE creature_template SET LootId=31466 WHERE entry=31466;
-- delete from creature_loot_template WHERE entry=30284;
UPDATE creature_template SET LootId=31451 WHERE entry=31451;
-- delete from creature_loot_template WHERE entry=30285;
UPDATE creature_template SET LootId=31457 WHERE entry=31457;
-- delete from creature_loot_template WHERE entry=30286;
UPDATE creature_template SET LootId=31460 WHERE entry=31460;
-- delete from creature_loot_template WHERE entry=30287;
UPDATE creature_template SET LootId=31468 WHERE entry=31468;
-- delete from creature_loot_template WHERE entry=30288;
-- delete from creature_loot_template WHERE entry=30319;
UPDATE creature_template SET LootId=31472 WHERE entry=31472;
-- delete from creature_loot_template WHERE entry=30329;
UPDATE creature_template SET LootId=31470 WHERE entry=31470;
-- delete from creature_loot_template WHERE entry=29308;
UPDATE creature_template SET LootId=31469 WHERE entry=31469;
-- delete from creature_loot_template WHERE entry=29309;
UPDATE creature_template SET LootId=31456 WHERE entry=31456;
-- delete from creature_loot_template WHERE entry=29310;
UPDATE creature_template SET LootId=31465 WHERE entry=31465;
-- delete from creature_loot_template WHERE entry=30338;
UPDATE creature_template SET LootId=31447 WHERE entry=31447;
-- delete from creature_loot_template WHERE entry=30111;
UPDATE creature_template SET LootId=31475 WHERE entry=31475;
-- delete from creature_loot_template WHERE entry=30114;
UPDATE creature_template SET LootId=31473 WHERE entry=31473;
-- delete from creature_loot_template WHERE entry=30413;
-- delete from creature_loot_template WHERE entry=30416;
UPDATE creature_template SET LootId=31453 WHERE entry=31453;
-- delete from creature_loot_template WHERE entry=30418;
UPDATE creature_template SET LootId=31452 WHERE entry=31452;
-- delete from creature_loot_template WHERE entry=30419;
UPDATE creature_template SET LootId=31454 WHERE entry=31454;
-- delete from creature_loot_template WHERE entry=30172;
UPDATE creature_template SET LootId=31446 WHERE entry=31446;
-- delete from creature_loot_template WHERE entry=30173;
UPDATE creature_template SET LootId=31445 WHERE entry=31445;
-- delete from creature_loot_template WHERE entry=30179;
UPDATE creature_template SET LootId=31471 WHERE entry=31471;
-- delete from creature_loot_template WHERE entry=30181;
-- delete from creature_loot_template WHERE entry=4076;
-- delete from creature_loot_template WHERE entry=29311;
UPDATE creature_template SET LootId=31464 WHERE entry=31464;
-- delete from creature_loot_template WHERE entry=30414;
UPDATE creature_template SET LootId=31459 WHERE entry=31459;
-- delete from creature_loot_template WHERE entry=32353;
UPDATE creature_template SET LootId=32368 WHERE entry=32368;
-- delete from creature_loot_template WHERE entry=31125;
UPDATE creature_template SET LootId=31722 WHERE entry=31722;
